@{
    ViewData["Title"] = "Home Page";
}

<section class="home">
    <div class="pic-area">
    </div>
    <div class="main-area">
        <div class="section-area">
            <div class="section-A">
                <div class="box-img">
                    <img src="../img/Around.jpg" alt="Who We Are" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-B">
                <div class="box-img">
                    <img src="../img/Bar.jpg" alt="Services" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-C">
                <div class="box-img">
                    <img src="../img/DemoMenu.jpg" alt="Menu" />
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="icons">
            <a href="#!">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#!">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#!">
                <i class="fab fa-snapchat-square"></i>
            </a>
        </div>
        <div class="copyright">&copy; Copyright 2023</div>
    </footer>
</section>

