
@{
    ViewData["Title"] = "NewsDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="services">
    <div class="main-area">
        <div class="section-area">
            <div class="section-C">
                <div class="box-img">
                    <img src="/img/BiaTinTuc.jpg">
                </div>
                <h1 style="text-align:center">
                    BA QUÁN CÀ PHÊ YÊN TĨNH GIỮA LÒNG HÀ NỘI
                </h1>
                <h3 style="text-align:center">
                    Ngay giữa trung tâm Hà Nội đông đúc là những quán cà phê yên tĩnh, thích hợp để hẹn hò bạn bè và làm việc.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh1.jpg">
                </div>
                <h3 style="text-align:center">
                    Nằm tại số 40 ngõ Nhà Chung, Chốn có thể lạ lẫm với những vị khách mới, nhưng với ai yêu cà phê, 
                    đây lại là một cái tên quen thuộc. Quán nằm sâu trong ngõ, khiến cho việc di chuyển xe và lần đầu 
                    tìm có phần khó khăn.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh2.jpg">
                </div>
                <h3 style="text-align:center">
                    Quán có thiết kế giản dị, được cải tạo lại từ tầng một của căn nhà trong ngõ, gồm hai gian thông nhau.
                    Gian ngoài là một khoảng vườn nhỏ rợp bóng cây, thoáng đãng, thích hợp để trò chuyện với bạn bè. 
                    Không gian nhỏ nhắn, mát mẻ vào mùa hè và ấm cúng khi đông đến. Sự gần gũi, thân thiện của khách và 
                    nhân viên cũng là một điểm cộng của nơi đây.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh3.jpg">
                </div>
                <h3 style="text-align:center">
                    Gian trong có diện tích khá nhỏ, yên tĩnh, phù hợp cho những ai muốn đọc sách và làm việc. 
                    Gian này cũng được phục vụ là nơi pha chế đồ uống.
                </h3>
                <h3 style="text-align:center">
                    Menu của Chốn gồm các loại cà phê, trà đa dạng, giá từ 35.000 đến 55.000 đồng. Chốn hiện có 3 cơ sở, 
                    tại 40 ngõ Nhà Chung (mở cửa từ 8h30 tới 18h), 36 Xóm Hà Hồi (8h30 tới 18h) và 130 Bùi Thị Xuân (9h tới 22h).
                </h3>
                <div class="box-img">
                    <img src="/img/Anh4.jpg">
                </div>
                <h3 style="text-align:center">
                    Blackbird nằm ở số 5 Chân Cầm. Tuy ở mặt phố trung tâm Hà Nội nhưng quán không ồn ào mà yên tĩnh. 
                    Trái ngược với phong cách Hà Nội cổ của Chốn, Blackbird mang âm hưởng của những quán cà phê châu Âu
                    hiện đại. Màu chủ đạo của quán là cam, với thiết kế nội thất tối giản, ít chi tiết. Blackbird có thể 
                    tạo cảm giác dễ chịu cho các vị khách khi vừa bước vào.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh5.jpg">
                </div>
                <h3 style="text-align:center">
                    Ở gian trong, quầy pha chế chiếm khoảng nửa gian, nhân viên của quán làm việc chuyên nghiệp, không gây ồn. 
                    Gian này cũng là nơi để mọi người đến làm việc. Nếu thích trò chuyện sôi động, bạn có thể ngồi ở bên ngoài vỉa ghè.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh6.jpg">
                </div>
                <h3 style="text-align:center">
                    Thực đơn quán chủ yếu tập trung vào cà phê, bao gồm các loại gốc espresso, pha phễu lọc thủ công, 
                    cà phê Việt Nam và một số khác như: trà túi lọc, sữa tươi, chocolate, giá từ 25.000 đến 65.000 đồng. 
                    Quán hiện hoạt động tại hai cơ sở, tại số 5 Chân Cầm và 63B Lãn Ông, mở cửa từ 7h đến 21h30.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh7.jpg">
                </div>
                <h3 style="text-align:center">
                    Trong con ngõ cạnh số nhà 11 Phủ Doãn là The Little Plan - một quán cà phê được trang trí theo 
                    phong cách Pháp. Quán nằm trên tầng 2 của căn nhà trong ngõ, có tông màu cũ như nâu trầm, trắng 
                    và xanh. Xung quanh quán trang trí những bó hoa oải hương khô, các kệ tủ gỗ nâu trầm và bàn ghế 
                    giản dị, cùng với đó là những bản nhạc châu Âu cổ điển, tạo ra một không gian kiểu Pháp giữa lòng Hà Nội.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh8.jpg">
                </div>
                <h3 style="text-align:center">
                    Thực khách đến quán có thể chọn không gian trong nhà và ban công. Không gian bên trong chia thành 2 tầng,
                    với tầng 2 là gác xép nhỏ nhắn, phù hợp cho những lần hẹn hò với bạn bè cũng như để làm việc.
                </h3>
                <h3 style="text-align:center">
                    Ngoài không gian chính, quán cũng có khu vực ngồi tại ban công, tách biệt, với tầm nhìn là phố Phủ Doãn. 
                    Ngồi ban công bạn có thể trò chuyện tự nhiên mà không lo làm phiền không gian yên tĩnh bên trong.
                </h3>
                <div class="box-img">
                    <img src="/img/Anh9.jpg">
                </div>
                <h3 style="text-align:center">
                    Thực đơn của quán đa dạng, phục vụ các loại đồ uống từ trà, cà phê cho tới sữa lắc, trà hoa quả, chocolate
                    và bánh ngọt, giá từ 28.000 đến 55.000 đồng. Quán cũng có các combo bánh ngọt đi kèm trà ấm tùy chọn từ 
                    70.000 tới 90.000 đồng. The Little Plan mở cửa từ 9h đến 21h30.
                </h3>
            </div>
        </div>
    </div>
    <footer>
        <div class="icons">
            <a href="#!">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#!">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#!">
                <i class="fab fa-snapchat-square"></i>
            </a>
        </div>
        <div class="copyright">
            &copy; Copyright 2023
        </div>
    </footer>
</section>
