@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="services">
    <div class="pic-area">
    </div>
    <div class="main-area">
        <div class="section-area">
            <div class="section-A">
                <div class="box-img">
                    <a asp-area="" asp-controller="Home" asp-action="NewsDetails">
                        <img src="/img/BiaTinTuc.jpg">
                    </a>
                </div>
                <h2 style="text-align:center">
                    <a asp-area="" asp-controller="Home" asp-action="NewsDetails">
                        Ba quán cà phê yên tĩnh giữa lòng Hà Nội
                    </a>
                </h2>
            </div>
        </div>
        <div class="section-area">
            <div class="section-B">
                <div class="box-img">
                    <a asp-area="" asp-controller="Home" asp-action="NewsDetails">
                        <img src="/img/Around.jpg">
                    </a>
                </div>
                <h2 style="text-align:center">
                    <a asp-area="" asp-controller="Home" asp-action="NewsDetails">
                        Ba quán cà phê yên tĩnh giữa lòng Hà Nội
                    </a>
                </h2>
            </div>
        </div>
        <div class="section-area">
            <div class="section-C">
                <div class="box-img">
                    <a asp-area="" asp-controller="Home" asp-action="NewsDetails">
                        <img src="/img/Outside.jpg">
                    </a>
                </div>
                <h2 style="text-align:center">
                    <a asp-area="" asp-controller="Home" asp-action="NewsDetails">
                        Ba quán cà phê yên tĩnh giữa lòng Hà Nội
                    </a>
                </h2>
            </div>
        </div>
    </div>
    <footer>
        <div class="icons">
            <a href="#!">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#!">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#!">
                <i class="fab fa-snapchat-square"></i>
            </a>
        </div>
        <div class="copyright">
            &copy; Copyright 2023
        </div>
    </footer>
</section>
