@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="services">
    <div class="main-area">
        <div class="section-area">
            <div class="section-A">
                <div class="box-text">
                    <h1>Nguồn gốc</h1>
                    <p>
                        Được thành lập vào năm 2023, bắt nguồn từ tình
                        yêu dành cho đất Việt cùng với cà phê và cộng đồng nơi đây, ngay
                        từ những ngày đầu tiên, mục tiêu của chúng mình là có thể phục vụ
                        và góp phần phát triển cộng đồng bằng cách siết chặt thêm sự kết
                        nối và sự gắn bó giữa người với người.
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/Outside.jpg" alt="Entertainment" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-B">
                <div class="box-text">
                    <h1>Sản phẩm sạch hướng tới sức khỏe</h1>
                    <p>
                        Chúng mình muốn tạo ra dấu ấn khác biệt cho thức uống Việt Nam
                        bằng sự tinh tế và cẩn trọng. Sự chăm chút từ khâu nguyên liệu
                        luôn được chúng mình chọn lọc khắt khe để mang đến nguồn nguyên
                        liệu tươi ngon nhất, an toàn và đảm bảo sức khỏe, mang đến một
                        “lá phổi xanh” cho thực khách ngay giữa lòng thủ đô.
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/CoffeeBean.jpg" alt="Parking" />
                </div>
            </div>
        </div>
        <div class="section-area">
            <div class="section-C">
                <div class="box-text">
                    <h1>Dư vị ngọt ngào</h1>
                    <p>
                        Hương vị ngọt ngào không chỉ được lưu giữ lại từ những ly cà phê
                        nguyên chất, mà còn từ tấm lòng và sự thấu hiểu của chúng mình dành cho
                        những thực khách thân yêu.
                    </p>
                </div>
                <div class="box-img">
                    <img src="../img/CoffeeMaking.jpg" alt="Venue" />
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="icons">
            <a href="#!">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#!">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#!">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#!">
                <i class="fab fa-snapchat-square"></i>
            </a>
        </div>
        <div class="copyright">&copy; Copyright 2023</div>
    </footer>
</section>
