
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="sign-up">
        <div class="pic-area">
          <div class="pic-area-text">
            <div id="login-box">
              <form id="login-form" name="login-form" action="index.html" method="post">
                <label>
                    Họ và tên: 
                </label> 
                <input type="text" required/>
                <br />
                <label>
                    Email: 
                </label> 
                <input type="email" required/>
                <br /><label>
                    Số điện thoại: 
                </label> 
                <input type="text" required/>
                <br />
                <label>
                    Địa chỉ: 
                </label> 
                <input type="text" required/>
                <br />
                <!-- minlength="10" does not work probably bc you need to use the submit button--><br />
                <label>Mật khẩu: </label>
                <input type="password" name="pswrd" id="pswrd" /><br />
                <br />
              </form>
              <div id="username-display"></div>
                <button class="btn-order" id="sign-up-btn">
                    Đăng ký
                </button>
            </div>
            <div class="icons">
              <a href="#!">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#!">
                <i class="fab fa-facebook"></i>
              </a>
              <a href="#!">
                <i class="fab fa-instagram"></i>
              </a>
              <a href="#!">
                <i class="fab fa-snapchat-square"></i>
              </a>
            </div>
          </div>
          <div class="copyright">&copy; Copyright 2022</div>
        </div>
      </section>
